*.aux
*.bbl
*.blg
*fdb_latexmk
*fls
*lof
*lol
*lot
*out
*gz
*toc
/2_Documentation/HW_Concept/*.bkp
/5_Hardware/WSBD_Board/History/*.Zip
/5_Hardware/WSBD_Board/*.PrjPcbStructure
/5_Hardware/WSBD_Board/Project Logs for WSBD_Board/*.LOG
/5_Hardware/WSBD_Board/__Previews/*.SchDocPreview
/5_Hardware/WSBD_Board/Project Outputs for WSBD_Board/Status Report.Txt
/5_Hardware/WSBD_FlexBoard/__Previews/Overview.SchDocPreview
/5_Hardware/WSBD_FlexBoard/*.PrjPcbStructure
/5_Hardware/WSBD_FlexBoard/History/*.Zip
/5_Hardware/WSBD_FlexBoard/Project Logs for WSBD_FlexBoard/*.LOG
/5_Hardware/WSBD_FlexBoard/Project Outputs for WSBD_FlexBoard/WSBD_Board.pdf
/5_Hardware/WSBD_FlexBoard/Project Outputs for WSBD_FlexBoard/Status Report.Txt
/5_Hardware/WSBD_FlexBoard/Project Outputs for WSBD_FlexBoard/*.drc
/5_Hardware/WSBD_FlexBoard/Project Outputs for WSBD_FlexBoard/*.html
/5_Hardware/WSBD_FlexBoard/Project Outputs for WSBD_FlexBoard/Gerber X2 Files/*.APR_LIB
/5_Hardware/WSBD_FlexBoard/Project Outputs for WSBD_FlexBoard/Gerber X2 Files/*.EXTREP
/5_Hardware/WSBD_FlexBoard/Project Outputs for WSBD_FlexBoard/Gerber X2 Files/*.REP
/5_Hardware/WSBD_Board/Project Outputs for WSBD_Board/Design Rule Check - WSBD_Board.html
/5_Hardware/WSBD_Board/Project Outputs for WSBD_Board/*.drc
