*.aux
*.bbl
*.blg
*fdb_latexmk
*fls
*lof
*lol
*lot
*out
*gz
*toc
/2_Documentation/HW_Concept/*.bkp
/5_Hardware/WSBD_Board/History/*.Zip
/5_Hardware/WSBD_Board/*.PrjPcbStructure
/5_Hardware/WSBD_Board/Project Logs for WSBD_Board/*.LOG
/5_Hardware/WSBD_Board/__Previews/*.SchDocPreview
/5_Hardware/WSBD_Board/Project Outputs for WSBD_Board/Status Report.Txt
/5_Hardware/WSBD_FlexBoard/__Previews/Overview.SchDocPreview
/5_Hardware/WSBD_FlexBoard/*.PrjPcbStructure
/5_Hardware/WSBD_FlexBoard/History/*.Zip
